<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{ shop.name }} &mdash; {{ 'general.password_page.opening_soon' | t }}</title>

    {% style %}
      :root {
        --font-body-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
        --color-base-text: 26, 26, 26;
        --color-base-background-1: 255, 255, 255;
        --color-base-background-2: 247, 247, 247;
        --color-base-accent-1: 18, 18, 18;
        --color-base-solid-button-labels: 255, 255, 255;
        --color-base-outline-button-labels: 18, 18, 18;
      }
    {% endstyle %}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    {{ 'theme.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}
  </body>
</html>
