<section class="section-spacing">
  <div class="page-width customer-auth">
    <div class="customer-auth__panel">
      <h1>{{ 'customer.register.title' | t }}</h1>
      {%- form 'create_customer' -%}
        {{ form.errors | default_errors }}
        <div class="field-grid">
          <div>
            <label for="RegisterFirstName">{{ 'customer.register.first_name' | t }}</label>
            <input id="RegisterFirstName" type="text" name="customer[first_name]" autocomplete="given-name" value="{{ form.first_name }}">
          </div>
          <div>
            <label for="RegisterLastName">{{ 'customer.register.last_name' | t }}</label>
            <input id="RegisterLastName" type="text" name="customer[last_name]" autocomplete="family-name" value="{{ form.last_name }}">
          </div>
        </div>
        <div>
          <label for="RegisterEmail">{{ 'customer.register.email' | t }}</label>
          <input id="RegisterEmail" type="email" name="customer[email]" autocomplete="email" value="{{ form.email }}" required>
        </div>
        <div>
          <label for="RegisterPassword">{{ 'customer.register.password' | t }}</label>
          <input id="RegisterPassword" type="password" name="customer[password]" autocomplete="new-password" required>
        </div>
        <button class="button" type="submit">{{ 'customer.register.submit' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</section>