<section class="section-spacing">
  <div class="page-width customer-auth">
    <div class="customer-auth__panel">
      <h1>{{ 'customer.recover_password.title' | t }}</h1>
      {%- form 'reset_customer_password' -%}
        {{ form.errors | default_errors }}
        <div>
          <label for="ResetPassword">{{ 'customer.activate_account.password' | t }}</label>
          <input id="ResetPassword" type="password" name="customer[password]" autocomplete="new-password" required>
        </div>
        <div>
          <label for="ResetPasswordConfirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input id="ResetPasswordConfirmation" type="password" name="customer[password_confirmation]" autocomplete="new-password" required>
        </div>
        <button class="button" type="submit">{{ 'customer.recover_password.submit' | t }}</button>
      {%- endform -%}
    </div>
  </div>
</section>